.profile__avatar-button {
    top: 0;
    left: 0;
    cursor: pointer;
    background: none;
    transition: background-color 0.4 ease;
    position: absolute;
    border: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
}

.profile__avatar-button:hover {
    background-image: url(../../../images/profile__avatar-button.svg);
    background-color: rgba(0,0,0,0.6);
    background-position: center;
    background-repeat: no-repeat;
}