.profile {
    max-width: 880px;
    padding-top: 40px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
@media (max-width: 700px) {
    .profile {      
    flex-direction: column;
    padding-top: 42px;
    padding-bottom: 36px;
    }
}