.footer__copyright {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.2;
    margin: 0;
    color: #545454;
}

@media (max-width: 700px) {
    .footer__copyright {
        font-size: 14px;
    }
}