.popup__input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2;
    margin: 0;
    color: #000000;
    margin-bottom: 30px;
    padding: 1px 0 9px;
    width: 358px;
}

@media (max-width: 580px) {
    .popup__input {
        max-width: 238px;
    }
}